<app-navbar></app-navbar>

<div class="container-fluid mt-3">  
  <div class="bg bg-light d-flex justify-content-end ">
    <button class="btn btn-outline-danger btn-sm ml-2" (click)="OturumuKapat()">Oturumu Kapat</button>
  </div>  

  <div class="row bg bg-light">
    <div class="col-md-4">
      <div class="row alert alert-danger" *ngIf="silme">
        <div class="col-md-12">
          <p> <b>{{secDaire.daireNumarasi}}</b> Numaralı daire siliniyor...</p>
          <button class="btn btn-outline-danger btn-sm" (click)="Sil()">Evet</button>
          <button class="btn btn-outline-primary btn-sm ml-2" (click)="silme=false;">Hayır</button>
        </div>
      </div>
      <div class="row alert alert-secondary" *ngIf="detay">
        <div class="col-md-6">
          <h5>Daire Numarası</h5>
          <p>{{secDaire.daireNumarasi}}</p>
          <h5>Daire Sahibi Adı Soyadı</h5>
          <p>{{secDaire.dAdSoyad}}</p>
          <h5>Dairenin Sitesi</h5>
          <p>{{secDaire.sitesi}}</p>
        </div>
        <div class="col-md-6">
          <h5>Kayıt Tarihi</h5>
          <p>{{secDaire.kayTarih | date:'dd.MM.yyyy HH:mm:sss'}}</p>
          <h5>Düzenleme Tarihi</h5>
          <p>{{secDaire.duzTarih | date:'dd.MM.yyyy HH:mm:sss'}}</p>
          <h5>Durumu</h5>
          <p><span class="badge badge-pill bg-success text-white" *ngIf="secDaire.islem">Dolu</span>
            <span class="badge badge-pill bg-danger text-white" *ngIf="!secDaire.islem">Satılık-Kiralık</span>
          </p>
          <button class="btn btn-outline-danger btn-sm" (click)="detay=false;">Kapat</button>
        </div>
      </div>
      <div class="row" *ngIf="ekleduzenle">
        <div class="col-md-12 alert alert-secondary">
          <h4>Daire Ekle - Düzenle</h4>
          <form #frm="ngForm" (submit)="Kaydet()">
            <div class="form-group">
              <label>Daire Numarası</label>
              <input type="text" class="form-control" name="daireNumarasi" [(ngModel)]="secDaire.daireNumarasi">
            </div>
            <div class="form-group">
              <label>Daire sahibi Adı Soyadı</label>
              <input class="form-control" name="dAdSoyad" [(ngModel)]="secDaire.dAdSoyad">
            </div>
            <div class="form-group">
              <label>Dairenin Sitesi</label>
              <input class="form-control" name="dSite" [(ngModel)]="secDaire.sitesi"> </div>
            <div class="form-group">
              <label>Tel No</label>
              <input class="form-control" name="telNo" [(ngModel)]="secDaire.telNo">
            </div>
            <div class="form-group">
              <input type="submit" value="Kaydet" class="btn btn-outline-success btn-sm">
              <button class="btn btn-outline-danger btn-sm ml-2" (click)="ekleduzenle=false;">Kapat</button>
            </div>
          </form>
          <div [ngClass]="sonuc.islem ? 'alert alert-success':'alert alert-danger'" *ngIf="sonuc.mesaj?.length>0">
            {{sonuc.mesaj}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>Daireler</h4>
          <button class="btn btn-outline-info btn-sm" (click)="ekleduzenle=true;">Daire Ekle</button>          
          <table class="table mt-2">
            <thead>
              <td>Daire Numarası</td>
              <td>Durumu</td>
              <td>İşlem</td>
              <td>Detay</td>
              <td>Düzenle</td>
              <td>Sil</td>
            </thead>
            <tbody>
              <tr *ngFor="let daire  of daireler">
                <td>{{daire.daireNumarasi}}</td>
                <td>
                  <span class="badge badge-pill bg-success text-white" *ngIf="daire.islem">Dolu</span>
                  <span class="badge badge-pill bg-danger text-white" *ngIf="!daire.islem">Boş</span>
                </td>
                <td>
                  <button class="btn btn-outline-success btn-sm" (click)="TamamlaIptal(daire,true)"
                    *ngIf="!daire.islem">Dolu</button>
                  <button class="btn btn-outline-danger btn-sm" (click)="TamamlaIptal(daire,false)"
                    *ngIf="daire.islem">Boş</button>
                </td>
                <td><button class="btn btn-outline-info btn-sm" (click)="DaireSec(daire);detay=true;">Detay</button>
                </td>
                <td><button class="btn btn-outline-warning btn-sm"
                    (click)="DaireSec(daire);ekleduzenle=true;">Düzenle</button></td>
                <td><button class="btn btn-outline-danger btn-sm" (click)="DaireSec(daire);silme=true;">Sil</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="row alert alert-danger" *ngIf="silme2">
        <div class="col-md-12">
          <p> <b>{{secYonetici.YoneticiAdi}}</b> İsimli Görevli Silinecek...</p>
          <button class="btn btn-outline-danger btn-sm" (click)="Sil2()">Evet</button>
          <button class="btn btn-outline-primary btn-sm ml-2" (click)="silme2=false;">Hayır</button>
        </div>
      </div>
      <div class="row alert alert-secondary" *ngIf="detay2">
        <div class="col-md-6">
          <h5>Görevli Adı</h5>
          <p>{{secYonetici.YoneticiAdi}}</p>
          <h5>Sitesi</h5>
          <p>{{secYonetici.Sitesi}}</p>
        </div>
        <div class="col-md-6">
          <button class="btn btn-outline-danger btn-sm ml-2" (click)="detay2=false;">Kapat</button>
        </div>
      </div>
      <div class="row" *ngIf="ekleduzenle2">
        <div class="col-md-12 alert alert-secondary">
          <h4>Yönetici Ekle - Düzenle</h4>
          <form #frm="ngForm" (submit)="Kaydet2()">
            <div class="form-group">
              <label>Görevli Adı</label>
              <input type="text" class="form-control" name="görevliAdi" [(ngModel)]="secYonetici.YoneticiAdi">
            </div>
            <div class="form-group">
              <label>Sitesi</label>
              <input class="form-control" name="sitesi" [(ngModel)]="secYonetici.Sitesi">
            </div>
            <div class="form-group">
              <input type="submit" value="Ekle" class="btn btn-outline-success btn-sm">
              <button class="btn btn-outline-danger btn-sm ml-2" (click)="ekleduzenle2=false;">Kapat</button>
            </div>
          </form>
          <div [ngClass]="sonuc2.islem2 ? 'alert alert-success':'alert alert-danger'" *ngIf="sonuc2.mesaj2?.length>0">
            {{sonuc2.mesaj2}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>Yöneticiler</h4>
          <button class="btn btn-outline-info btn-sm" (click)="ekleduzenle2=true;">Yonetici Ekle</button>
          <table class="table mt-2">
            <thead>
              <td>Görevli Adı</td>
              <td>Durumu</td>
              <td>İşlem</td>
              <td>Detay</td>
              <td>Düzenle</td>              
              <td>Sil</td>
            </thead>
            <tbody>
              <tr *ngFor="let yonetici  of yoneticiler">
                <td>{{yonetici.YoneticiAdi}}</td>
                <td>
                  <span class="badge badge-pill bg-success text-white" *ngIf="yonetici.islem2">İzinde</span>
                  <span class="badge badge-pill bg-danger text-white" *ngIf="!yonetici.islem2">Çalışıyor</span>
                </td>
                <td>
                  <button class="btn btn-outline-success btn-sm" (click)="TamamlaIptal2(yonetici,true)"
                    *ngIf="!yonetici.islem2">İzinli</button>
                  <button class="btn btn-outline-danger btn-sm" (click)="TamamlaIptal2(yonetici,false)"
                    *ngIf="yonetici.islem2">İş başında</button>
                </td>
                <td><button class="btn btn-outline-info btn-sm" (click)="YoneticiSec(yonetici);detay2=true;">Detay</button>
                </td>
                <td><button class="btn btn-outline-warning btn-sm"
                  (click)="YoneticiSec(yonetici);ekleduzenle2=true;">Düzenle</button></td>
                <td><button class="btn btn-outline-danger btn-sm" (click)="YoneticiSec(yonetici);silme2=true;">Sil</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>





    <div class="col-md-4">
      <div class="row alert alert-danger" *ngIf="silme3">
        <div class="col-md-12">
          <p> <b>{{secAidat.siteAdi}}</b> Aidatlar Silinecek...</p>
          <button class="btn btn-outline-danger btn-sm" (click)="Sil3()">Evet</button>
          <button class="btn btn-outline-primary btn-sm ml-2" (click)="silme3=false;">Hayır</button>
        </div>
      </div>
      <div class="row alert alert-secondary" *ngIf="detay3">
        <div class="col-md-6">
          <h5>Site Adı</h5>
          <p>{{secAidat.siteAdi}}</p>
          <h5>Daire Sayısı</h5>
          <p>{{secAidat.daireSayisi}}</p>
        </div>
        <div class="col-md-6">
          <h5>Aidat Ücreti</h5>
          <p>{{secAidat.aidat}}</p>
          <button class="btn btn-outline-danger btn-sm" (click)="detay3=false;">Kapat</button>
        </div>
      </div>
      <div class="row" *ngIf="ekleduzenle3">
        <div class="col-md-12 alert alert-secondary">
          <h4>Aidat Ekle - Düzenle</h4>
          <form #frm="ngForm" (submit)="Kaydet3()">
            <div class="form-group">
              <label>Site Adı</label>
              <input type="text" class="form-control" name="siteAdi" [(ngModel)]="secAidat.siteAdi">
            </div>
            <div class="form-group">
              <label>Daire Sayısı</label>
              <input class="form-control" name="daireSayisi" [(ngModel)]="secAidat.daireSayisi">
            </div>
            <div class="form-group">
              <label>Aidat Ücreti</label>
              <input class="form-control" name="aidatUcreti" [(ngModel)]="secAidat.aidat">
            </div>
            <div class="form-group">
              <input type="submit" value="Kaydet" class="btn btn-outline-success btn-sm">
              <button class="btn btn-outline-danger btn-sm ml-2" (click)="ekleduzenle3=false;">Kapat</button>
            </div>
          </form>
          <div [ngClass]="sonuc3.islem3 ? 'alert alert-success':'alert alert-danger'" *ngIf="sonuc3.mesaj3?.length>0">
            {{sonuc3.mesaj3}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>Aidatlar</h4>
          <button class="btn btn-outline-info btn-sm" (click)="ekleduzenle3=true;">Aidat Ekle</button>
          <table class="table mt-2">
            <thead>
              <td>Site Adı</td>
              <td>Aidat</td>
              <td>Detay</td>
              <td>Düzenle</td>
              <td>Sil</td>
            </thead>
            <tbody>
              <tr *ngFor="let aidat of aidatlar">
                <td>{{aidat.siteAdi}}</td>
                <td>{{aidat.aidat}}</td>
                <td><button class="btn btn-outline-info btn-sm"
                    (click)="AidatSec(aidat);detay3=true;">Detay</button>
                </td>
                <td><button class="btn btn-outline-warning btn-sm"
                  (click)="AidatSec(aidat);ekleduzenle3=true;">Düzenle</button></td>
                <td><button class="btn btn-outline-danger btn-sm"
                    (click)="AidatSec(aidat);silme3=true;">Sil</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

